body{
    background-color: rgb(236, 234, 234);
}

.background{
  
    display: flex;
    

   
}

.bild{
    text-align:center;
    margin-top: 5rem;
    
}

.panel{
    text-align: center;
}

/* .linkedin{
    height: 16rem;
    text-align: center;
} */