html{
    scroll-behavior: smooth;
}
html body {
    margin: 0;
    padding: 0;
}
.topbar{
    /* position: fixed; */
    display: flex;
    background-size: cover;
    left: 0;
    top: 0;
    right: 0;
    align-items: center;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: space-around;
    z-index: 20;
    width: auto;
    
}
a { 
color: inherit; 
text-decoration: none;
} 

 .frame{
    border: 2px solid rgb(180, 180, 180);
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    border-style:solid;
    border-width:thick;
    margin: auto;
 
  
} 
.textInfo{
    font-size: 20px;
    padding-left: 20px;
}
.margin{
    padding: 0.5rem;
}

.udnerline{
    text-decoration: underline;
}
.fotter{
    display: flex;
    background-size: cover;
    left: 0;
    top: 0;
    right: 0;
    align-items: center;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: space-around;
    z-index: 20;
    width: auto; 
    height: auto;
}